<!--
<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span>Second Line</span>
    </mat-toolbar-row>
  </mat-toolbar>
</p>
-->
<p style="margin: 0px">
  <mat-toolbar color="primary">
    <!-- <mat-toolbar color="primary">-->
    <span>Gump</span>
  </mat-toolbar>
</p>
<div>
  <div class="sidebar">
    <ul>
      <li>
        <a href="">
          <i class="material-icons"> </i>
          <button mat-raised-button>Nouveau fichier</button>
        </a>
      </li>
      <li>
        <a href="">
          <i class="material-icons"> </i>
          <button mat-raised-button>Ouvrir</button>
        </a>
      </li>
      <li>
        <a href="">
          <i class="material-icons"> </i>
          <button mat-raised-button>Acceuil</button>
        </a>
      </li>
      <li>
        <a href="">
          <i class="material-icons"> </i>
          <button mat-raised-button>Formation</button>
        </a>
      </li>
      <li>
        <a href="">
          <i class="material-icons"> </i>
          <button mat-raised-button>Partager</button>
        </a>
      </li>
      <li>
        <a href="">
          <i class="material-icons"> </i>
          <button mat-raised-button>Vos Fichiers</button>
        </a>
      </li>
      <li>
        <a href="">
          <i class="material-icons"> </i>
          <button mat-raised-button>Supprimés</button>
        </a>
      </li>
    </ul>
  </div>

  <mat-grid-list cols="5" rowHeight="2:1">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="6" rowHeight="3:1">
    <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>
</div>

