.imageContainer {
  display: inline-grid;
}

mat-menu {
  vertical-align: top;
  align-items: center;
}

.container {
  display: inline-grid;
  align-self: stretch;
}

.image{
  padding: 10px;
  margin: 3px;
  background: white;
  border-radius: 10px ;
}
