<div class="col-md-12">
  <mat-card-title style="font-size: xx-large">Formation</mat-card-title>
  <mat-divider style="border-top-color: black"></mat-divider>

</div>
<div class="col-md-12">
  <mat-card class="mat-mdc-card mdc-card">
    <img mat-card-image src="/assets/images/demo-colors.png" alt="Photo of a Shiba Inu">
    <div>
      <mat-card-header class="mat-mdc-card-header">
        <mat-card-title>Jean Seignetout</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Use effects to manipulate the image's brightness, contrast, or saturation.
        </p>
      </mat-card-content>
    </div>
  </mat-card>
</div>
