<div class="col-md-12">
  <mat-card-title style="font-size: xx-large">Formation</mat-card-title>
  <mat-divider style="border-top-color: black"></mat-divider>

</div>
<div class="col-md-12">
  <mat-card class="mat-mdc-card mdc-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <div>
      <mat-card-header class="mat-mdc-card-header">
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
    </div>
  </mat-card>
</div>
