image-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider {
  position: fixed;
  bottom: 20px;
  right: 100px;
}
