<div class="col-md-12">
  <mat-card-title style="font-size: xx-large">Vos Fichiers</mat-card-title>
  <mat-divider style="border-top-color: black"></mat-divider>

</div>
<div class="col-md-3">
  <div class="m-card card-down-media" style="border-radius: 4px">
    <img class="card-down-media" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <div class="card-down__actions">
      <button class="button-card" routerLink="/open">Ouvrir</button>
      <button class="button-card2" routerLink="/deleted">Supprimer</button>
    </div>
  </div>
</div>
