<div class="alert">

  <div class="title">
    <h2>{{data.title}}</h2>
  </div>

  <div class="content">

    <div class="icon">
      <mat-icon [svgIcon]="'success'" style="margin-bottom: 0 !important;" *ngIf="data.type === 'success'"></mat-icon>
      <mat-icon [svgIcon]="'error'" style="margin-bottom: 0 !important;" *ngIf="data.type === 'error'"></mat-icon>
      <mat-icon [svgIcon]="'warning'" style="margin-bottom: 0 !important;" *ngIf="data.type === 'warning'"></mat-icon>
      <mat-icon [svgIcon]="'info'" style="margin-bottom: 0 !important;" *ngIf="data.type === 'info'"></mat-icon>
    </div>

    <div class="message">
      <p>{{data.message}}</p>
    </div>

  </div>

</div>
