.editor-page-wrapper {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "top-bar top-bar top-bar"
    "toolbar image menu-sidebar";
  width: 100%;
  height: 100%;
}

.top-bar {
  grid-area: top-bar;
  min-height: 5%;
}

.toolbar {
  grid-area: toolbar;
}

.image {
  grid-area: image;
}

.menu-sidebar {
  grid-area: menu-sidebar;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  max-height: 99%;
  min-height: 88%;
  margin-left: 83%;
}
