<div class="col-md-12">
  <mat-card-title style="font-size: xx-large">Bienvenue dans Gump</mat-card-title>
  <mat-divider style="border-top-color: black"></mat-divider>

</div>
<div class="col-md-12">
  <mat-card class="mat-mdc-card mdc-card">
    <img mat-card-image src="/assets/images/demo-colors.png" alt="Photo of a Shiba Inu">
    <div>
      <mat-card-header class="mat-mdc-card-header">
        <mat-card-title>Jean Seignetout</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Use effects to manipulate the image's brightness, contrast, or saturation.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink="/formation">Parcourir les tutoriels</button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
<div class="col-md-12" style="padding-top: 2%">
  <mat-card-title style="font-size: xx-large">Récent</mat-card-title>

</div>
<div class="col-md-3">
  <div class="m-card card-down-media" style="border-radius: 4px">
    <img class="card-down-media" src="https://material.angular.io/assets/img/examples/shiba2.jpg"
         alt="Photo of a Shiba Inu">
    <div class="card-down__actions">
      <button class="button-card" routerLink="/editor">Ouvrir</button>
      <button class="button-card2" routerLink="/deleted">Supprimer</button>
    </div>
  </div>
</div>

<!--
<mat-grid-list cols="5" rowHeight="2:1">
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="6" rowHeight="3:1">
        <mat-grid-tile>4</mat-grid-tile>
      </mat-grid-list>
-->
